<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label>
    <h1>{{item.title}}</h1><br/>
    <p>Ce film est sorti en {{item.year}} sous la direction de {{item.director}}.</p>
    <p>Nous retrouvons {{item.actors}}</p>
    <p>Il rentre dans les genres {{item.genres}}.</p><br/>
    <h6>Durée : {{item.runtime}} minutes</h6><br/><br/>
    <h4>Résumé</h4><br/>
    <p>{{item.plot}}</p>
    <img src="{{item.posterUrl}}">
  </ion-label><br/>
</ion-content>