<ion-header>
  <ion-toolbar>
    <ion-title>FouDeSéries</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="./assets/logo.png"></ion-img>
  <center><p>Tu regardes quoi en ce moment ? <br/>Pas de spoil, je ne suis pas à jour...</p></center>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="schedule" (click)="pageDesSeries()">
          <ion-icon name="newspaper-outline"></ion-icon>
          <ion-label>Séries</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-content>