<body>
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Films
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar animated="true" placeholder="Ne sert à rien"></ion-searchbar>
  <ion-item *ngFor="let item of lstfilm" (click)="affDetail(item)">
    <ion-avatar>
      <img alt="Silhouette of a person's head" src="{{item.posterUrl}}" style="--border-radius: 4px;" />
    </ion-avatar>
    <ion-label>
      <h1>{{item.title}}</h1>
      <p>{{item.year}}</p>
    </ion-label>
  </ion-item> 
</ion-content>

</body>
